@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: Montserrat;
  box-sizing: border-box;
}

.navbar-container {
  header {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .logo {
      margin-left: 10rem;
    }

    .link-wrapper {
      display: flex;
      gap: 3rem;
      margin-right: auto;
      margin-left: 2rem;
    }

    a {
      text-decoration: none;
      cursor: pointer;
      font-size: 0.95rem;
    }

    .button-wrapper {
      display: flex;
      gap: 1rem;
      margin-right: 10rem;
    }
  }
}
